DB_URL=jdbc:mysql://mysql:3306/ManagementSystems?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
DB_USERNAME=lms_user
DB_PASSWORD=change_me
ML_SERVICE_URL=http://ml-service:8001
UPLOAD_DIR=/tmp/lms-uploads
PORT=8080
